.About-container{
    font-family: "Poppins", sans-serif ;
    font-weight: 400 !important;
    width: 100%;
    margin: 0 auto;
    padding: 17px 6%;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.About-header-text{
    width: 35%;
    border-radius: 50px;
    padding: 10px;
    border: 1px solid black !important;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}

.ico{
    width: 100% !important;
    margin-top: 10px;
    margin-left: 10px;
}

.about-p p{
    width: 60%;
    padding-bottom: 4px;
    padding-top: 4px;
    line-height: 30px;
}

.about-p{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between !important;
}

.btn-about{
    display: flex;
    position: absolute;
    right:0;
    margin-right: 300px;
    margin-top: 130px;
}

.btn-about button{
    background-color: transparent !important;
    border: 1px solid black;
    color: black;
    border-radius: 100%;
    width: 100% !important;
}