.abt-sign{
    background-image: url("../../../Assets/news\ let\ image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 10vh !important;
}