.team-section {
    padding: 40px 20px;
    background-color: #f7f2ff;
    text-align: center;
    margin-bottom: 60px;
}

.team-title {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    padding-left: 150px;
    padding-right: 150px;
}

.team-member {
    width: 250px;
    height: 250px;
    background-color: #fff;
    border-bottom: 10px solid #5500ff;
    border-radius: 5px;
}